<a href="https://colab.research.google.com/github/MaxGhenis/random/blob/master/wealth_tax_ubi_inequality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Effects of wealth tax and UBI on wealth inequality

Compare a wealth tax to a UBI on wealth inequality.

## Setup

TODO: Figure out how to make microdf work without installing labellines and taxcalc (optional).

In [4]:
!pip install matplotlib-label-lines
!pip install git+git://github.com/maxghenis/microdf.git
!pip install git+git://github.com/PSLmodels/Tax-Calculator.git

Collecting matplotlib-label-lines
  Downloading https://files.pythonhosted.org/packages/40/c5/2d130c4775a8d1b6777f54f3a40432a6bab971aea7a36916d1940f65fbc0/matplotlib_label_lines-0.3.6-py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from matplotlib-label-lines) (1.16.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from matplotlib-label-lines) (3.0.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->matplotlib-label-lines) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->matplotlib-label-lines) (2.5.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->matplotlib-label-lines) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->matplotlib-label-lines) (2.4.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib->matplotlib-label-lines) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->matplotlib-label-lines) (41.2.0)
Installing collected packages: matplotlib-label-lines
Successfully installed matplotlib-label-lines-0.3.6
Collecting git+git://github.com/maxghenis/microdf.git
  Cloning git://github.com/maxghenis/microdf.git to /tmp/pip-req-build-1la3xqnq
  Running command git clone -q git://github.com/maxghenis/microdf.git /tmp/pip-req-build-1la3xqnq
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from microdf==0.1) (1.16.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from microdf==0.1) (0.24.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from microdf==0.1) (3.0.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from microdf==0.1) (0.9.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->microdf==0.1) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->microdf==0.1) (2.5.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->microdf==0.1) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->microdf==0.1) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->microdf==0.1) (1.1.0)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from seaborn->microdf==0.1) (1.3.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas->microdf==0.1) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->microdf==0.1) (41.2.0)
Building wheels for collected packages: microdf
  Building wheel for microdf (setup.py) ... done
  Created wheel for microdf: filename=microdf-0.1-cp36-none-any.whl size=13479 sha256=b429d7861412e1f0e950fa33d1b2bda858a3032cb82614dfec4154ed8c750712
  Stored in directory: /tmp/pip-ephem-wheel-cache-87r7f0xg/wheels/d0/61/d3/083d3677aa1ee6b248d229cb6c4de037f9d61b595e9f06aed0
Successfully built microdf
Installing collected packages: microdf
Successfully installed microdf-0.1
Collecting git+git://github.com/PSLmodels/Tax-Calculator.git
  Cloning git://github.com/PSLmodels/Tax-Calculator.git to /tmp/pip-req-build-9v7e5vx_
  Running command git clone -q git://github.com/PSLmodels/Tax-Calculator.git /tmp/pip-req-build-9v7e5vx_
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from taxcalc==0.0.0) (1.16.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from taxcalc==0.0.0) (0.24.2)
Requirement already satisfied: bokeh in /usr/local/lib/python3.6/dist-packages (from taxcalc==0.0.0) (1.0.4)
Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (from taxcalc==0.0.0) (0.40.1)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->taxcalc==0.0.0) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->taxcalc==0.0.0) (2.5.3)
Requirement already satisfied: pillow>=4.0 in /usr/local/lib/python3.6/dist-packages (from bokeh->taxcalc==0.0.0) (4.3.0)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.6/dist-packages (from bokeh->taxcalc==0.0.0) (3.13)
Requirement already satisfied: Jinja2>=2.7 in /usr/local/lib/python3.6/dist-packages (from bokeh->taxcalc==0.0.0) (2.10.1)
Requirement already satisfied: tornado>=4.3 in /usr/local/lib/python3.6/dist-packages (from bokeh->taxcalc==0.0.0) (4.5.3)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.6/dist-packages (from bokeh->taxcalc==0.0.0) (1.12.0)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.6/dist-packages (from bokeh->taxcalc==0.0.0) (19.1)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba->taxcalc==0.0.0) (0.29.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from pillow>=4.0->bokeh->taxcalc==0.0.0) (0.46)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.7->bokeh->taxcalc==0.0.0) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging>=16.8->bokeh->taxcalc==0.0.0) (2.4.2)
Requirement already satisfied: attrs in /usr/local/lib/python3.6/dist-packages (from packaging>=16.8->bokeh->taxcalc==0.0.0) (19.1.0)
Building wheels for collected packages: taxcalc
  Building wheel for taxcalc (setup.py) ... done
  Created wheel for taxcalc: filename=taxcalc-0.0.0-cp36-none-any.whl size=60617386 sha256=66475ece6242d45b27516f71c77e8dc69be5ccc1811d3446a42299bf7e0c5230
  Stored in directory: /tmp/pip-ephem-wheel-cache-tzd2r37n/wheels/5c/c7/c2/e2c40e13b9b3352b091aea6b0744eab7120e9094d070a7b289
Successfully built taxcalc
Installing collected packages: taxcalc
Successfully installed taxcalc-0.0.0

In [0]:
import pandas as pd
import numpy as np
import microdf as mdf

## Load data

From Saez/Zucman wealth tax calculator: https://github.com/BITSS/opa-wealthtax

In [0]:
wealth = pd.read_stata('https://github.com/BITSS/opa-wealthtax/blob/master/analysis_data/wealth.dta?raw=true')

## Preprocess

### UBI

Andrew Yang's Freedom Dividend of $1,000 per month for each adult citizen.

Other features like tax revenue and benefit clawback would require fusing with CPS data, so these are not modeled here.

From https://www.census.gov/quickfacts/fact/table/US/PST045218 and https://www.kff.org/other/state-indicator/distribution-by-citizenship-status.

In [0]:
ADULT_POP = 327_167_434 * (1 - 0.224)
PCT_CITIZENS = 0.93
citizen_adults_per_family = PCT_CITIZENS * ADULT_POP / wealth.weight.sum()
UBI_PER_ADULT_CITIZEN = 12000
ubi_per_family = UBI_PER_ADULT_CITIZEN * citizen_adults_per_family

In [0]:
wealth['yang_ubi'] = ubi_per_family
wealth['networth_ubi'] = wealth.networth + wealth.yang_ubi

Total impact ($B)

In [72]:
total_ubi = (mdf.weighted_sum(wealth, 'networth_ubi', 'weight') - 
             mdf.weighted_sum(wealth, 'networth', 'weight')).sum()
total_ubi / 1e9

2833.322325229422

#### VAT

Assume (not based on data) that VAT is proportional the the square root of wealth, and that the UBI is funded fully and solely by the VAT.

In [0]:
wealth['vat_base'] = np.maximum(wealth.networth_ubi, 0)
wealth['sqrt_vat_base'] = np.sqrt(wealth.vat_base)

In [0]:
total_sqrt_networth = mdf.weighted_sum(wealth, 'sqrt_vat_base', 'weight')

In [0]:
wealth['vat'] = wealth.sqrt_vat_base * total_ubi / total_sqrt_networth

In [77]:
mdf.weighted_sum(wealth, 'vat', 'weight') / 1e12

2.8333223252294215

In [0]:
wealth['networth_yang'] = wealth.networth_ubi - wealth.vat

### Wealth tax

16% avoidance/evasion rate per Saez and Zucman: http://wealthtaxsimulator.org/analysis/

In [0]:
PCT_AVOID_EVADE = 0.16

In [0]:
from bisect import bisect

def tax(income, rates, brackets, base_tax):
    i = bisect(brackets, income)
    if not i:
        return 0
    rate = rates[i]
    bracket = brackets[i-1]
    income_in_bracket = income - bracket
    tax_in_bracket = income_in_bracket * rate
    total_tax = base_tax[i-1] + tax_in_bracket
    return total_tax

In [0]:
def tax_multiple(incomes, **kwargs):
    return [tax(income, **kwargs) for income in incomes]

#### Warren

2% above \$50 million, 3% above \$1 billion, per http://wealthtaxsimulator.org/analysis/

In [0]:
WARREN_RATES = [0, 0.02, 0.03]   # 0%, 2%, 3%.

WARREN_BRACKETS = [50e6,  # First $50 million.
                   1e9]   # Over $1 billion.

WARREN_BASE_TAX = [0,     # $50,000,000 * 0%
                   20e6]  # $1,000,000,000 * 2%

In [0]:
def warren_tax_multiple(incomes):
    return tax_multiple(incomes, rates=WARREN_RATES, brackets=WARREN_BRACKETS,
                        base_tax=WARREN_BASE_TAX)

Test a couple values.

In [39]:
warren_tax_multiple([-1e6,    # Expected: 0
                     0,       # Expected: 0
                     1e6,     # Expected: 0
                     50e6,    # Expected: 0
                     50e6+1,  # Expected: 0.02
                     100e6,   # Expected: 2% * (100e6 - 50e6) = 2% * 50e6 = 1e6
                     1e9,     # Expected: 20,000,000
                     1e9+1,   # Expected: 20,000,000.03
                     10e9     # Expected: 20e6 + 3% * (10e9 - 1e9) = 
                              #           20e6 + 270e6 = 290e6
                     ])

[0, 0, 0, 0.0, 0.02, 1000000.0, 20000000.0, 20000000.03, 290000000.0]

In [0]:
wealth['warren_theoretical_tax'] = tax_multiple(
    wealth.networth, rates=WARREN_RATES, brackets=WARREN_BRACKETS,
    base_tax=WARREN_BASE_TAX)

In [0]:
wealth['warren_tax'] = wealth.warren_theoretical_tax * (1 - PCT_AVOID_EVADE)

In [0]:
wealth['networth_warren'] = wealth.networth - wealth.warren_tax

Total impact ($B)

This differs from the $199 billion estimated for 2019 in http://wealthtaxsimulator.org/analysis/ - is this because this is 2016? Would expect it to be higher in 2019 than 2016.

In [43]:
(mdf.weighted_sum(wealth, 'networth_warren', 'weight') - 
 mdf.weighted_sum(wealth, 'networth', 'weight')).sum() / 1e9

-215.04780760723438

In [44]:
wealth.head()

    data      networth  ...    warren_tax  networth_warren
0  FB400  1.600000e+11  ...  4.023600e+09     1.559764e+11
1  FB400  9.700000e+10  ...  2.436000e+09     9.456400e+10
2  FB400  8.830000e+10  ...  2.216760e+09     8.608324e+10
3  FB400  6.100000e+10  ...  1.528800e+09     5.947120e+10
4  FB400  5.840000e+10  ...  1.463280e+09     5.693672e+10

[5 rows x 12 columns]

#### Sanders (TODO)

>Sanders wants to levy a 1 percent tax on wealth above \$32 million, for married couples, and then slowly increase the tax for wealthier households: a 2 percent for wealth between \$50 to \$250 million; 3 percent for wealth from \$250 to $500 million; 4 percent from \$500 million to \$1 billion, 5 percent from \$1 to \$2.5 billion, 6 percent from \$2.5 to \$5 billion, 7 percent from \$5 to \$10 billion, and 8 percent on wealth over \$10 billion. Same thing goes for super-rich single people, except the wealth thresholds are cut in half. In other words, an unmarried person with \$16.5 million in wealth would pay a \$5,000 tax, as would a married couple with \$32.5 million in net worth.

https://www.vox.com/policy-and-politics/2019/9/24/20880941/bernie-sanders-wealth-tax-warren-2020

## Analysis

### Gini

In [79]:
gini_base = mdf.gini(wealth.networth, wealth.weight)
gini_base

0.8709291953761705

In [80]:
gini_warren = mdf.gini(wealth.networth_warren, wealth.weight)
gini_warren

0.8706327269354551

In [81]:
gini_ubi = mdf.gini(wealth.networth_ubi, wealth.weight)
gini_ubi

0.8453790740253787

In [82]:
gini_yang = mdf.gini(wealth.networth_yang, wealth.weight)
gini_yang

0.8549984076859986

In [83]:
gini_warren_chg = gini_base - gini_warren
gini_warren_chg

0.0002964684407154028

In [84]:
gini_ubi_chg = gini_base - gini_ubi
gini_ubi_chg

0.02555012135079182

In [85]:
gini_yang_chg = gini_base - gini_yang
gini_yang_chg

0.015930787690171977

How much more does the UBI move Gini compared to the Warren tax?

In [86]:
gini_ubi_chg / gini_warren_chg

86.18158914027163

In [87]:
gini_yang_chg / gini_warren_chg

53.73518898581472

### Share of wealth held by top 1%

In [0]:
mdf.add_weighted_quantiles(wealth, 'networth', 'weight')
mdf.add_weighted_quantiles(wealth, 'networth_warren', 'weight')
mdf.add_weighted_quantiles(wealth, 'networth_ubi', 'weight')
mdf.add_weighted_quantiles(wealth, 'networth_yang', 'weight')

In [0]:
def top_1pct_share(df, percentile_col, wealth_col, weight_col):
    top_1pct_sum = (df[df[percentile_col] > 99][wealth_col] *
                    df[df[percentile_col] > 99][weight_col]).sum()
    total_sum = mdf.weighted_sum(df, wealth_col, weight_col)
    return top_1pct_sum / total_sum

In [90]:
top_1pct_share_base = top_1pct_share(
    wealth, 'networth_percentile_exact', 'networth', 'weight')
top_1pct_share_base

0.4175010487580551

In [91]:
top_1pct_share_warren = top_1pct_share(
    wealth, 'networth_warren_percentile_exact', 'networth_warren', 'weight')
top_1pct_share_warren

0.4161617636383938

In [92]:
top_1pct_share_ubi = top_1pct_share(
    wealth, 'networth_ubi_percentile_exact', 'networth_ubi', 'weight')
top_1pct_share_ubi

0.405546756215726

In [93]:
top_1pct_share_yang = top_1pct_share(
    wealth, 'networth_yang_percentile_exact', 'networth_yang', 'weight')
top_1pct_share_yang

0.4150682309994321

In [94]:
top_1pct_share_warren_chg = top_1pct_share_warren - top_1pct_share_base
top_1pct_share_warren_chg

-0.0013392851196613043

In [95]:
top_1pct_share_ubi_chg = top_1pct_share_ubi - top_1pct_share_base
top_1pct_share_ubi_chg

-0.011954292542329104

In [96]:
top_1pct_share_yang_chg = top_1pct_share_yang - top_1pct_share_base
top_1pct_share_yang_chg

-0.0024328177586230293

In [97]:
top_1pct_share_ubi_chg / top_1pct_share_warren_chg

8.925875727904943

In [98]:
top_1pct_share_yang_chg / top_1pct_share_warren_chg

1.8165047329416097

### Share of net worth owned by current billionaires

In [0]:
def share_nw_billionaires(nw_col):
    total_nw_current_billionaires = wealth[wealth.networth > 1e9][nw_col].sum()
    total_nw = wealth[nw_col].sum()
    return total_nw_current_billionaires / total_nw

In [100]:
share_nw_billionaires('networth')

0.8044084055676892

In [101]:
share_nw_billionaires('networth_warren')

0.8017979413736426

In [102]:
share_nw_billionaires('networth_yang')

0.8050089818100814

In [103]:
share_nw_billionaires('networth_ubi')

0.8041398927616111